.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  mat-form-field {
    width: 300px; /* Keeps input field fixed width */
    margin-bottom: 16px; /* Adds space between input and details */
  }